projekt.aux
projekt.fdb_latexmk
projekt.fls
projekt.log
projekt.synctex.gz
projekt.bbl
projekt.blg
projekt.out
projekt.toc
~$ecifikacia-projektu.docx
projekt.synctex(busy)
~$ProgressReport1-Cederle-Marek.pptx
